.login-card-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-card {
    width: 400px;
    margin-top: 10px;
}

.login-form-control {
    width: 350px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.form-helper-text-red-color {
    color: red;
}

